<% include ./Partials/header %>

<div class="jumbotron">
  <h1 class="display-4"><i class="far fa-credit-card"></i> Upfos - The Sofos pay center</h1>
  <p class="lead"> Aplicación Web Demo alimentada de la API perteneciente a Uphold </p>
  <hr class="my-4">
  <p>Scoby Doo PA PA</p>
  <div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Comienza Aqui ! </a>
      </p>      
  </div>
</div>

<div class="text-index" style="text-align: center; margin-top: 80px;">
    <h1>Desarrollado en menos de 48 Horas</h1>
    <h1> :D </h1>
</div>

<% include ./Partials/footer %>